body {
	margin: 4em;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #465D62;
}
h1 {
	font-size: 16pt;
}
h2 {
	font-size: 14pt;
}
h3 {
	font-size: 12pt;
}
ol {
    list-style-type: lower-roman;
}
h4 {
	font-size: 11pt;
}
table {
	border: thin solid black;
	padding: 1em;
}
td {
	padding: 0.5em 1em 0.5em 1em;
}
tr.stline {
	font-weight: bolder;
}
td.ltline {
	border-bottom: thin solid black;
}
p.code {
	text-align: center;
}
p.label {
    margin-top: 0;
    font-size: 10pt;
    font-style: italic;
}
#title h1 {
	margin: 0;
}
#title p {
	margin: 0 0 1em 0;
}
#bodytext {
	margin: 4em;
}
#bodytext div {
	margin-bottom: 4em;
}
